<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>gitlab-maven</id>
      <username>${env.MAVEN_USERNAME}</username>
      <password>${env.MAVEN_PASSWORD}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>gitlab</id>
      <repositories>
        <repository>
          <id>gitlab-maven</id>
          <url>${env.GITLAB_MAVEN_PACKAGES_URL}</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>gitlab</activeProfile>
  </activeProfiles>

</settings>
